:root {
  --primay: white;
  --bg-primay: rgb(30, 30, 30);

  --link: #2a0b0b;
  background-color: rgb(30, 30, 30);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  margin: 8px 0px;
}

.header {
  font-size: 3rem;
}

.body {
  margin: 20px 0 10px;
  font-size: 0.9rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  background: var(--bg-primay);
  color: var(--primay);
}

.App-link {
  color: #61dafb;
  color: var(--link);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SpriteUI {
  background-image: url(./assets/UI_Iron_Flat.png);
  background-repeat: no-repeat;
}
.containerUI {
  background-position: 0px 100%;
  background-size: 140% 240%;
}
.headerUI {
  background-size: 140%;
}
.buttonUI {
  background-position: 0px 100%;
  background-size: 140% 240%;
}

.SpriteIcons {
  background-image: url(./assets/UI_Iron_A_Border.png);
  background-repeat: no-repeat;
}
.homeIcon {
  background-position: 100% 81.3%;
  height: 32px;
  width: 32px;
  border: 0;
}
.shopIcon {
  background-position: 17.65% 50%;
  height: 32px;
  width: 32px;
  border: 0;
}
.scoreIcon {
  background-position: 29.4% 93.7%;
  height: 32px;
  width: 32px;
  border: 0;
}
.helpIcon {
  background-position: 88.25% 18.7%;
  height: 32px;
  width: 32px;
  border: 0;
}
.logoutIcon {
  background-position: 82.4% 62.5%;
  height: 32px;
  width: 32px;
  border: 0;
}
@media (min-width: 1024px) {
  .SpriteIcons {
    height: 48px;
    width: 48px;
    background-size: 1800%;
  }
}

.ArmoryIcons {
  background-image: url(./assets/armory.png);
  background-repeat: no-repeat;
  background-size: 1000%;
}
.helmetIcon {
  background-position: 11.5% 100%;
  border: 0;
}
.weaponIcon {
  background-position: 55.5% -0px;
  border: 0;
}
.shieldIcon {
  background-position: 89% -0px;
  border: 0;
}
.armorIcon {
  background-position: 0px 100%;
  border: 0;
}
.companionIcon {
  background-position: 66.8% 100%;
  border: 0;
}
